<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">
  <a class="navbar-brand ml-4" href="/">bGAFİA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/about">Hakkımızda <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link  " href="#">Gönderiler</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-4">
      <li class="nav-item active">
        <a class="nav-link " href="#">Profilim</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Çıkış Yap</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/user/login">Giriş Yap</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="/user/register">Kayıt Ol</a>
      </li>

    </ul>
  </div>
</nav>
