{% extends "layout.html" %}

{% block body %}
<header class="bg-primary text-center py-5 mb-4">
        <div class="container">
          <h1 class="font-weight-light text-white">About Us</h1>
        </div>
</header>
        <div class="container">
                <div class="row">
                    <p>Beta Sürümündedir.ALttaki Metni Önemsemeyiniz</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, dolore! Nam, consequuntur asperiores impedit assumenda ipsum ab accusamus cupiditate, suscipit ratione, nobis officia id. Animi, exercitationem expedita! Tempora, ipsam rem.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis minima alias et sunt natus voluptatibus totam nobis recusandae nihil consectetur. Ad asperiores optio hic aspernatur illum, nostrum cum amet similique.
                    </p>
                    </div>
                </div>
      </header>
{% endblock body %}